<!-- templates/about/author.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Я живу в городе Санкт-Петербург и учусь в Университете Путей Сообщения.
</p>
<p>
  Я изучаю Python уже третий месяц и совмещаю это с учебой в университете и уроками английского.
</p>
<a href="https://github.com/deepxshine" target="_blank"> Вот ссылка на мой GitHub</a><br>
<a href="mailto: alexey.3vdokimov@yandex.ru" target="_blank" > Моя электронная почта</a>

{% endblock %}